.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 52px;
  overflow: hidden;
  background: #fff;
  background-clip: content-box;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.scrollPanel {
  width: 1000px;
  margin: 0 auto;
  transform: translate3d(0, 0, 0);
  transition: all .3s ease;
}

.showSecondNav {
  transform: translate3d(0, -52px, 0);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}

.link {
  font-size: 15px;
  padding: 0 15px;
  color: #8590a6;

  &:first-child {
    padding-left: 0;
  }
}

.nav {
  margin-left: 27px;
  margin-right: 18px;
}

.innerItem {
  display: flex;
  align-items: center;
}

.functionIcon {
  margin-right: 20px;
}