.section {
  overflow: hidden;
  padding: 20px 18px 20px;
  border-bottom: 1px solid #EBEBEB;
}

.desc {
  color: #8590A6;
  font-size: 14px;
  line-height: 1.5;
}

.pageTitle {
  color: #1A1A1A;
  font-size: 19px;
  font-weight: 600;
  height: 26px;
  line-height: 26px;
  margin-bottom: 9px;
}

.subTitle {
  color: #1A1A1A;
  font-size: 15px;
  font-weight: 600;
  height: 21px;
  line-height: 21px;
  margin: 0 0 5px 0;
}