.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
}

/********************************************/

.main {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 62px auto 0;
}

.content {
  width: 694px;
  flex: 0 0 694px;
}

.sidebar {
  width: 296px;
  flex: 0 0 296px;
}

.iconPanel {
  display: flex;
  justify-content: space-between;
}

.iconBlock {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 25px;
  cursor: pointer;
  color: #444444;
  font-size: 16px;

  span {
    color: #444444;
  }
}

.icon {
  color: #8590A6;
  margin-bottom: 6px;
}